n8n WAHA Automation
{
  "name": "n8n Beta Test",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        0,
        0
      ],
      "id": "ad84d13c-38de-45c8-a774-c4ebdd3d95ab",
      "name": "WAHA Trigger",
      "webhookId": "40a4b2df-918c-4bab-854e-901c4010e2d4"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        272
      ],
      "id": "2a2c9581-d21a-49a7-b51a-98905737ae37",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9277cd01-cd0f-486f-96c5-7b41da85059d",
              "leftValue": "={{ $json.payload.from }}",
              "rightValue": "@c.us",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        384
      ],
      "id": "d769f4ed-ea78-4648-9e12-55748fadb4f0",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1152,
        272
      ],
      "id": "d9ebbc52-fa2f-4848-abba-a26d69349e79",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "hefDRs25E6OVXvBm",
          "name": "WAHA"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "options": {
          "systemMessage": "={\n  \"role\": \"system\",\n  \"instructions\": {\n    \"description\": \"Kamu adalah asisten AI yang menjawab menggunakan bahasa Indonesia yang sopan, ramah, dan mudah dipahami. Jawabanmu harus berdasarkan isi dokumen Google Docs.\",\n    \"rules\": [\n      \"Selalu gunakan bahasa sehari-hari yang sopan dan komunikatif.\",\n      \"Jangan menggunakan format JSON, YAML, atau bentuk teknis lainnya dalam jawaban akhir.\",\n      \"Jangan gunakan bold markdown (**teks**).\",\n      \"Jika perlu memberi penekanan, gunakan hanya *italic* (dengan satu tanda bintang).\",\n      \"Gunakan paragraf natural seperti manusia berbicara.\",\n      \"Jika informasi tidak ditemukan di dokumen, jawab dengan sopan bahwa informasinya tidak tersedia.\",\n      \"Jangan mengarang isi dokumen.\"\n    ],\n    \"formatting_rules\": {\n      \"allow\": [\"italic\"],\n      \"forbid\": [\"bold\", \"markdown bold\", \"**\"]\n    },\n    \"tool_usage\": {\n      \"google_docs\": \"Jika pertanyaan berhubungan dengan isi dokumen, gunakan tool 'Get a document in Google Docs' sebelum menjawab.\"\n    },\n    \"output_format\": {\n      \"type\": \"text\",\n      \"requirement\": \"Jawaban akhir harus berupa teks biasa tanpa struktur JSON atau simbol formatting berlebihan.\"\n    },\n    \"closing\": \"Akhiri jawaban dengan nada sopan, misalnya: 'Semoga informasi ini membantu ya 😊'\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1392,
        272
      ],
      "id": "4f9d2d83-61b4-4a2d-b66a-0ab80faf6864",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.payload.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1472,
        496
      ],
      "id": "9a55ed32-d7b1-42d2-af5e-f38ffa61b6a5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "={{ $('Edit Fields').item.json.payload.from }}",
        "text": "={{ $json['Tambahan Text'] }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1152,
        496
      ],
      "id": "3826a27a-b4bb-4a02-9ced-4e3431d12ee0",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "hefDRs25E6OVXvBm",
          "name": "WAHA"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        208
      ],
      "typeVersion": 1,
      "id": "053e0351-bd05-4b3e-8617-25a757f06909",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 3) + 2 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        496
      ],
      "id": "e88a22c5-d799-4f99-a498-ba94f06c0333",
      "name": "Wait",
      "webhookId": "04c91058-72b3-4681-98ad-388ae41ca827"
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        208
      ],
      "typeVersion": 1,
      "id": "26cbe353-5b47-4d2f-b33c-013924d67e71",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7a8038a-9bc1-4ae3-b43b-595020b82a15",
              "name": "Tambahan Text",
              "value": "={{ $json.output + \"\\n\\n> _Jack_\" }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        496
      ],
      "id": "5c8463e5-91f8-4d22-aff8-f94231345aeb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        272
      ],
      "id": "0824ba80-994c-4a8e-a797-9d02fd0d7ad5",
      "name": "Wait1",
      "webhookId": "699a7428-d309-4cbc-8fdd-2a7762bbb347"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "messageId": "={{ $('WAHA Trigger').item.json.payload.id }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        928,
        272
      ],
      "id": "1fb339a4-307b-43f6-8659-5aca53e23798",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "YWjSvQhLWSudcRdW",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get a document in Google Docs",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1icCrWl5mFDR2RJM7sAuyOVmRLGxJ65InBbO17tdvV0Q/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1600,
        496
      ],
      "id": "802c88f4-4d78-410d-ba56-2ee500fb6b2e",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vZGIYrs466u6I7tv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        496
      ],
      "id": "bc665fee-1225-4751-bbd3-cef4ab6169fa",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "KrrElqfrc5QpBTKC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d65cf25d-1879-4a2d-b2bb-10f04a0b2bee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4eb341c757d150a063e25ff8d4767d4278ca5bf6e3cf28c9cda6049de4cec5d4"
  },
  "id": "qCAFw21ey7S3iDSl",
  "tags": []
}
